body, html {
  height: 100vh;
  background: $black;
  color: $white
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pirata One', cursive;
  text-transform: uppercase;
}

section h2 {
  text-align: center;
}

p, div, label, button, a, li, ol {
  font-family: 'Montserrat', sans-serif;
}

.py-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
