body, html {
  height: 100vh;
  background: #000000;
  color: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pirata One', cursive;
  text-transform: uppercase; }

section h2 {
  text-align: center; }

p, div, label, button, a, li, ol {
  font-family: 'Montserrat', sans-serif; }

.py-section {
  padding-top: 6rem;
  padding-bottom: 6rem; }

header {
  position: fixed;
  width: 100%;
  z-index: 1; }
  @media screen and (min-width: 992px) {
    header nav {
      margin: 25px 0; } }
  header nav .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    margin: auto 30px;
    color: #ffffff !important; }
    header nav .nav-link:hover {
      color: #ff5252 !important; }

#masthead {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("/images/grunge-texture-bg.jpg");
  background-size: cover;
  position: relative; }
  #masthead .masthead__wrapper {
    background: url("/images/section-divider.svg");
    background-repeat: no-repeat;
    background-position: left bottom -1px;
    background-size: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media screen and (min-width: 992px) {
      #masthead .masthead__wrapper {
        background-size: 50%; } }
  #masthead h1 {
    margin-bottom: 0;
    font-size: 25vw; }
    @media screen and (min-width: 992px) {
      #masthead h1 {
        font-size: 10vw; } }

.music-player__playback-button {
  color: red;
  font-size: 32px;
  cursor: pointer;
  transition: 0.25s; }
  .music-player__playback-button:hover {
    color: #ffffff; }
